.carousel {
    display: flex;
    flex-direction: column;
    margin-bottom: $small-spacing;
    &__item {
        width: 100%;
        height: 100px;
        border-radius: 0;
        overflow: hidden;
        border-right: 1px solid $white;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    &__selected {
        &__image {
            background-size: cover;
            background-position: top center;
            border-bottom: 1px solid $white;
            flex-grow: 1;
        }
        &__caption {
            text-align: center;
            margin-bottom: $large-spacing;
        }
    }
    &__slider {
    }
}
