.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Container
    &__container {
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        z-index: 999;
        color: $white;
        background: $black;
        transition: all 0.25s ease;

        &--white {
            color: $black;
            background: $white;
            .header__profile__text {
                opacity: 1;
            }
        }

        &--large {
            padding: $small-spacing 0;
        }
    }

    // Profile
    &__profile {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        margin: 0.5rem 0;
        &__image {
            width: 64px;
            height: 64px;
            background-color: gray;
            border-radius: 60px;
            margin-right: 0.8rem;
            background-image: url("/images/profile-image.png");
            background-size: cover;
            background-position: center;
        }
        &__text {
            opacity: 0;
        }
        &__name {
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
        }
        &__role {
            font-size: 12px;
            line-height: 22px;
        }
    }

    // Navigation
    &__navigation {
        &__item {
            font-weight: bold;
            margin-left: 1.75rem;
            text-transform: uppercase;
            font-size: 14px;

            &--highlighted {
                margin-left: 2rem;
                padding: 0.5rem 1rem;
                border: 3px solid;
                border-radius: $button-border-radius;
            }

            &--current {
                padding-bottom: 0.2rem;
                border-bottom: 2px solid;
            }
        }
    }
}
