.hero {
    background-image: url("/images/background.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: fixed;
    color: $light-gray;
    padding: 10rem 0 5em;
    margin-bottom: $large-spacing;
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        &__left {
            flex-basis: 500px;
            flex-grow: 1;
            flex-shrink: 1;
            text-align: center;
        }
        &__right {
            flex-basis: 200px;
            flex-shrink: 1;
            flex-grow: 1;
        }
    }

    // Hero Text
    &__text {
        line-height: 48px;
        padding-bottom: 2rem;
        span:nth-of-type(1) {
            font-size: 32px;
            font-weight: lighter;
        }
        span:nth-of-type(2) {
            font-size: 45px;
            font-weight: bold;
        }
        span:nth-of-type(3) {
            font-size: 18px;
        }
    }

    // Skill
    &__skill {
        width: 50px;
        height: 50px;
        margin: 0 $small-spacing $large-spacing 0;
    }

    // Contact
    &__contact {
        width: 100%;
        background-color: #000000;
        padding: $small-spacing $small-spacing 0;
        position: relative;
    }

    // Photo credit
    &__photo_credit {
        text-align: right;
        font-size: 0.8rem;
        font-weight: lighter;
        padding: 12px 0 0;
        opacity: 0.5;
        line-height: 1;
        &:hover {
            opacity: 1;
        }
    }

    @media only screen and (min-width: 763px) {
        &__content__left {
            text-align: left;
        }
        &__contact {
            text-align: left;
            right: -$small-spacing;
        }
    }
}
