.hero {
    padding: 3rem 0;
    &__text {
        line-height: 48px;
        padding-bottom: 2rem;
        span:nth-of-type(1) {
            font-size: 32px;
            font-weight: lighter;
        }
        span:nth-of-type(2) {
            font-size: 45px;
            font-weight: bold;
        }
        span:nth-of-type(3) {
            font-size: 18px;
        }
    }
    &__button {
        margin-right: $small-spacing;
        box-shadow: 0px 2px 10px 0px #a6a6a6;
    }
}
