.hero {
    background-image: url("/images/background.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: fixed;
    color: $white;
    padding: 10rem 0 5em;
    margin-bottom: $small-spacing;
    // min-height: 100vh;
    // display: flex;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__left {
            flex-basis: 500px;
            flex-grow: 1;
            flex-shrink: 2;
            text-align: center;
        }
        &__right {
            max-width: 600px;
            flex-basis: 200px;
            flex-shrink: 1;
            flex-grow: 1;
        }
    }

    // Hero Text
    &__text {
        line-height: 48px;
        padding-bottom: 2rem;
        span:nth-of-type(1) {
            font-size: 32px;
            font-weight: lighter;
        }
        span:nth-of-type(2) {
            font-size: 45px;
            font-weight: bold;
        }
        span:nth-of-type(3) {
            font-size: 18px;
        }
    }

    // Skill
    &__skill {
        width: 50px;
        height: 50px;
        margin: 0 $small-spacing $large-spacing 0;
    }

    // Contact
    &__contact {
        width: 100%;
        background-color: #000000;
        padding: $small-spacing $small-spacing 0;
        position: relative;
    }

    // Photo credit
    &__photo_credit {
        text-align: right;
        font-size: 0.8rem;
        font-weight: lighter;
        padding: 12px 0 0;
        opacity: 0.5;
        line-height: 1;
        &:hover {
            opacity: 1;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    @media only screen and (min-width: 964px) {
        &__content__left {
            text-align: left;
        }
        &__content__right {
            min-width: 400px;
        }
        &__contact {
            text-align: left;
            right: -$small-spacing;
        }
    }
}
