.modal {
    &__overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__container {
        position: absolute;
        width: $page-width;
        height: 600px;
        background: $white;
        margin-left: 50%;
        transform: translate(-50%);
    }
}
