.modal {
    &__overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__container {
        position: absolute;
        background: $white;
        max-width: $page-width;
        max-height: 600px;
        transform: translate(-50%, -50%);
    }
}
