.modal {
    &__overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__container {
        position: fixed;
        background: $white;
        max-width: $page-width;
        max-height: $page-width/2;
        transform: translate(-50%, -50%);
        //padding: $small-spacing 0 0;
        color: #5e616f;
        height: 100%;
    }
}
