.slideshow {
    width: 100%;
    height: 100%;
    position: relative;

    &__slide {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__timer {
        bottom: 0;
        right: 0;
        position: absolute;
        margin: $small-spacing;
        path {
            fill: #777;
            opacity: 0.5;
        }
    }
}
