.work {
    &__item {
        cursor: pointer;
        margin-bottom: $small-spacing;
        &__image {
            position: relative;
        }
        &__logo {
            max-height: 60px;
            max-width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__description {
            border: 3px solid $light-gray;
            border-top: none;
            padding: $small-spacing;
        }
        &__title {
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
}
