.work {
    padding-top: $small-spacing;
    padding-bottom: $large-spacing;
    background: #fafafa;

    // Title
    &__title {
        padding: $small-spacing 0;
    }

    // Items
    &__item {
        margin-bottom: $small-spacing;
        border-radius: $global-radius;
        overflow: hidden;
        position: relative;
        &__image {
            position: relative;
            overflow: hidden;
            // border-top-left-radius: $global-radius;
            // border-top-right-radius: $global-radius;
        }
        &__title {
            border: 3px solid $light-gray;
            border-top: none;
            padding: 1rem;
            font-weight: bold;
            font-size: 1.1rem;
            font-family: $header-font-family;
        }
        &__skill {
            vertical-align: middle;
            float: right;
            margin-left: 10px;
        }
        &__description {
            text-align: center;
            padding: 25% $small-spacing $small-spacing;
            border: 3px solid $light-gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    // Modal
    &__modal {
        $height: $page-width/2;
        height: $height;
        display: flex;
        flex-wrap: wrap;
        &__carousel {
            flex-basis: 200px;
            flex-shrink: 1;
            flex-grow: 1;
            min-width: 500px;
            align-self: stretch;
        }
        &__content {
            flex-basis: 200px;
            flex-shrink: 1;
            flex-grow: 1;
            padding: $small-spacing;
        }
    }
}
