.work {
    &__item {
        cursor: pointer;
        margin-bottom: $small-spacing;
        &__image {
            position: relative;
            overflow: hidden;
        }

        &__logo {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            fill: #ffffff;
            opacity: 0.8;
            transition: transform 0.25s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
        &__description {
            border: 3px solid $light-gray;
            border-top: none;
            padding: $small-spacing;
        }
        &__title {
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
}

.work_modal {
}
