.work {
    margin-bottom: $large-spacing;

    // Title
    &__title {
        padding: $large-spacing 0;
        h1 {
            font-size: 3rem;
        }
    }

    // Items
    &__item {
        cursor: pointer;
        margin-bottom: $small-spacing;
        border-radius: $global-radius;
        overflow: hidden;
        &__image {
            position: relative;
            overflow: hidden;
            // border-top-left-radius: $global-radius;
            // border-top-right-radius: $global-radius;
        }

        &__description {
            border: 3px solid $light-gray;
            border-top: none;
            padding: 1.2rem $small-spacing;
        }
        &__title {
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    // Modal
    &__modal {
        $height: $page-width/2;
        height: $height;
        display: flex;
        flex-wrap: wrap;
        &__carousel {
            flex-basis: 200px;
            flex-shrink: 1;
            flex-grow: 1;
            min-width: 500px;
            align-self: stretch;
        }
        &__content {
            flex-basis: 200px;
            flex-shrink: 1;
            flex-grow: 1;
            padding: $small-spacing;
        }
    }
}
