$primary-color: #232b38;
$white: #ffffff;
$light-gray: #eeeeee;
$small-spacing: 1rem;
$medium-spacing: 2rem;
$large-spacing: 4rem;
$page-width: 1300px;
$grid-spacing: 1rem;
$columns: 12;
$breakpoints: (
    small: 0px,
    medium: 350px,
    large: 700px,
    xlarge: 1050px
);
$body-font-family: "Montserrat", sans-serif;
$body-color: $primary-color;

// Button
$button-border-radius: 0;

@import "mixins";
@import "reset";
@import "fonts";
@import "utilities";

// Components
@import "components/grid";
@import "components/header";
@import "components/hero";
@import "components/button";
@import "components/modal";
@import "components/close_button";
@import "components/typography";
@import "components/slideshow";

// Modules
@import "/modules/work";

// Pages
@import "/pages/home";
