$primary-color: #232b38;
$accent-color: #f44336;
$black: #000000;
$white: #ffffff;
$light-gray: #eeeeee;
$small-spacing: 2rem;
$medium-spacing: 2rem;
$large-spacing: 4rem;
$page-width: 1300px;
$grid-spacing: 2rem;
$columns: 12;
$breakpoints: (
    small: 0px,
    medium: 4000px,
    large: 700px,
    xlarge: 1050px
);
$body-font-family: "Open Sans", sans-serif;
$body-color: #636f7b;
$body-background-color: $black;
$global-radius: 0;

// Headers
$header-font-family: "Montserrat", sans-serif;
$header-color: $primary-color;

// Button
$button-border-radius: 0;

@import "mixins";
@import "reset";
@import "fonts";
@import "utilities";

// Components
@import "components/grid";
@import "components/header";
@import "components/hero";
@import "components/button";
@import "components/modal";
@import "components/close_button";
@import "components/typography";
@import "components/form";
@import "components/carousel";
@import "components/flip_card";
@import "components/footer";

// Modules
@import "/modules/work";
@import "/modules/about";

// Pages
@import "/pages/home";
