// Text alignment
$alignments: left, center, right;
@each $name, $size in $breakpoints {
    @include breakpoint($name) {
        @each $alignment in $alignments {
            &.#{$name}-text-#{$alignment} {
                text-align: $alignment;
            }
        }
    }
}
@each $alignment in $alignments {
    .text-#{$alignment} {
        text-align: $alignment;
    }
}

// Visibility
[class*="show-for"] {
    display: none;
}
[class*="hide-for"] {
    display: block;
}
@each $name, $size in $breakpoints {
    @include breakpoint($name) {
        .show-for-#{$name} {
            display: block;
        }
        .hide-for-#{$name} {
            display: none;
        }
    }
}
